* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.mode-selection {
    margin-bottom: 20px;
}

.mode-btn {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.mode-btn.active {
    background-color: #28a745; /* Verde */
}

.mode-btn.inactive {
    background-color: gray;
}

.mode-btn:active {
    transform: scale(0.98);
}

.mode {
    display: none;
}

#cronometro-display, #cuenta-regresiva-display {
    font-size: 48px;
    margin-bottom: 20px;
}

.action-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.action-btn.green {
    background-color: #28a745;
    color: white;
}

.action-btn.red {
    background-color: #dc3545;
    color: white;
}

.time-input {
    width: 100px; /* Aumentado de 60px a 100px */
    font-size: 18px;
    text-align: center;
    margin: 10px 5px;
    padding: 5px;
}

.inputs-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    .container {
        width: 90%;
    }
    
    #cronometro-display, #cuenta-regresiva-display {
        font-size: 36px;
    }
    
    .action-btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    .time-input {
        width: 80px; /* Ajuste para pantallas pequeñas */
        font-size: 16px;
    }
}
